@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div, li {
  display: block; }

html, body {
  height: 100%;
  /*adaptar el dise├▒o al ancho de la ventana del navegador*/
  max-width: 100%;
  /*nada puede ser mas ancho que la pagina, evitamos el scroll horizontal*/
  margin: 0 auto;
  padding: 0; }

html {
  font: 16px verdana, arial, sans-serif;
  /*1rem = 16px*/
  color: #4C4C4C;
  cursor: auto; }

header, header h1, header h2, header h3, header h4 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif, roboto;
  text-transform: uppercase;
  line-height: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

nav a, .subtitles {
  font-size: 14px;
  font-size: 0.9rem;
  text-align: left;
  text-transform: lowercase;
  line-height: 1em; }

p, pre {
  margin: 1em 0; }

p:first-letter, nav a:first-letter, .subtitles:first-letter {
  text-transform: uppercase; }

small {
  font-weight: bold;
  font-size: 70%; }

a {
  /*<img alt="" longdesc="url"/><a rel="longdesc" href="url">[D]</a>*/ }
  a:link, a:visited, a:hover {
    text-decoration: none;
    color: #373737;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 1px dashed #373737;
    cursor: pointer; }
  a:hover {
    color: #969696;
    border-bottom: none; }
  a[rel="longdesc"] {
    text-decoration: underline; }
  a[rel="longdesc"]:before {
    content: "["; }
  a[rel="longdesc"]:after {
    content: "]"; }

label[for], button, select, input[type='image'],
input[type='button'], input[type='submit'],
input[type="text"]:focus, input[type="search"]:focus,
textarea:focus, button, input[type='button'] {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fafafa;
  text-align: center; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fafafa;
  text-align: center; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fafafa;
  text-align: center; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fafafa;
  text-align: center; }

input[type='text']:valid:focus,
input[type='url']:valid:focus,
input[type='email']:valid:focus {
  animation: anim_focus 2s linear 0s infinite normal;
  -webkit-animation: anim_focus 2s linear 0s infinite normal;
  -moz-animation: anim_focus 2s linear 0s infinite normal; }

@keyframes anim_focus {
  from {
    background-color: #c1fa95; }
  50% {
    background-color: #58bd0a; }
  to {
    background-color: #c1fa95; } }
@-webkit-keyframes anim_focus {
  from {
    background-color: #c1fa95; }
  50% {
    background-color: #58bd0a; }
  to {
    background-color: #c1fa95; } }
@-moz-keyframes anim_focus {
  from {
    background-color: #c1fa95; }
  50% {
    background-color: #58bd0a; }
  to {
    background-color: #c1fa95; } }
li {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 12px;
  text-align: center;
  list-style-type: none; }

.list li:before {
  content: "\2022  ";
  font-weight: bold; }

.list_ord > li {
  display: list-item;
  list-style: inherit;
  /*numerico*/
  list-style-position: inside; }
  .list_ord > li:first-letter {
    padding-left: 1em; }

img, embed, object, video {
  max-width: 100%; }

audio, canvas, img, video {
  /*eliminar espacios vacios*/
  vertical-align: middle; }

code {
  color: #333333;
  font-style: oblique;
  font-family: "Source Code Pro", monospace; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  background: #E7E7E7;
  color: #000;
  width: 50%;
  padding: 10px;
  margin: 10% auto;
  font-size: 16px; }
  .chromeframe a {
    color: #239407;
    text-decoration: underline; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Licence Block
    <small id="wrapCC">
        <a rel="license"> IMG_LICENCE </a>
        <div id="licenseCC">
            CONTENT_LICENSE
        </div>
    </small>
   ========================================================================== */
#wrapCC {
  position: relative;
  top: 5px;
  width: 500px; }

#licenseCC {
  display: none;
  position: absolute;
  bottom: -8px;
  left: 100px;
  font-size: 0.6em;
  width: 500px; }

#wrapCC:hover > #licenseCC {
  display: block; }

#wrapCC [rel="license"] {
  border-bottom: 1px solid white; }

#wrapCC [rel="license"]:before {
  content: "\A";
  /*white space*/
  white-space: pre; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

p.blockCode {
  position: relative;
  font-size: inherit;
  color: #696969;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #fc0;
  border-top-left-radius: 10px;
  font: 1em/1.25em "Courier New", monospace;
  padding: 10px; }

p.blockCode:before {
  content: "codigo";
  display: block;
  position: absolute;
  font-size: 1.25em;
  font-variant: small-caps;
  font-weight: bolder;
  text-transform: uppercase;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 2px;
  color: black;
  border-color: #fc0;
  border-width: 2px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 10px; }

/*<i class="idea"> Frase q expresa una idea, concepto, un ejemplo*/
.idea, em {
  font-style: italic; }

.idea {
  quotes: "\00AB" "\00BB"; }

em {
  quotes: '\201C' '\201D'; }

.idea:before, em:before {
  content: open-quote; }

.idea:after, em:after {
  content: close-quote; }

/*<b class="lead">: Frase importante del texto, resumen del contexto*/
/*<strong>: Llamar la atencion del lector*/
.lead, strong {
  font-weight: bold; }

.lead {
  text-decoration: underline; }

body {
  background-color: rgba(0, 143, 213, 0.9); }

#web-container {
  width: 90%;
  /*responsive design, fluid layout*/
  /*height          se adaptara al contenido*/
  margin: 0 auto 0;
  padding: 50px 25px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 5px 0 10px white, -5px 0 10px white;
  font-size: 16px;
  font-size: 1rem; }

/*# sourceMappingURL=main.css.map */
