@import 'base';

body {
    background-color: rgba(0, 143, 213, 0.9);
}

#web-container {
    width           : 90%; /*responsive design, fluid layout*/
    /*height          se adaptara al contenido*/
    margin          : 0 auto 0;
    padding         : 50px 25px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow      : 5px 0 10px rgb(255, 255, 255), -5px 0 10px rgb(255, 255, 255);
    font-size       : 16px;
    font-size       : 1rem;
}